@import "tailwindcss";

:root {
  --color-primary: #a78bfa;
  --color-bg-start: #2b124f;
  --color-bg-end: #0b0617;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
